body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #3f4e4f;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button {
  all: unset;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}

button:hover svg {
  stroke: white;
}

button:focus-visible {
  outline: 2px solid lightgray;
}

#app {
  width: 100vw;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;

  display: grid;
}

.clips-container {
  min-width: 30vw;
  min-height: 100vh;

  grid-column: 2;
  grid-row: 1 / 3;

  background-color: #2c3639;
  outline: 1px dashed white;
}

.video-container {
  display: flex;
  min-width: 50vw;
  height: 50vh;
  position: relative;
  padding-right: 0;
  padding-left: 0;

  background-color: black;
  outline: 1px dashed white;
}

.video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.subtitles {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 1rem;
  font-size: calc(1.275rem + 0.3vw);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.subtitles[contenteditable]:focus {
  outline: none;
  background-color: rgba(80, 80, 80, 0.25);
}

.controls {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  height: fit-content;

  outline: 1px dashed white;
}

.play-pause-container {
  flex: 0 0 auto;
  width: auto;
}

.progress-container {
  display: flex;
  flex: 1 0 0;
  align-self: center;
  height: 7px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;

  outline: 1px dashed red;
}

.progresss {
  flex: 1 0 0;
  align-self: center;
  height: 2px;
  overflow: hidden;
  background-color: gray;
  border-radius: 0.375rem;
  position: relative;
}

.progresss:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: var(--percent-right);
  background-color: white;
}

div:hover > .progresss {
  height: 7px;
  transition: 0.25s;
}
