body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #3f4e4f;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button {
  all: unset;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

button:hover svg {
  stroke: white;
}

button:focus-visible {
  outline: 2px solid lightgray;
}

.clips-container {
  position: relative;
  width: 30vw;
  height: 100vh;

  grid-column: 2;
  grid-row: 1 / 4;

  background-color: #2c3639;
  outline: 1px dashed white;
}

.controls {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* height: fit-content; */

  grid-column: 1;
  grid-row: 3;

  outline: 1px dashed red;
}
